.body {
   background-color: white;
}
.image {
   max-width: 700px;
   max-height: 500px;
}
.section-image {
   max-width: 300px;
   max-height: 300px;
   
   padding-left: 20px;
}
.background-colour {
   background-color: #F8F8F8;
}
.background-colour1 {
   background-color: #F8F8F8;
}
.text-font {
   font-size: 1.2rem;
   font-family: sans-serif;
   word-spacing: 5px;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.back {
   background-color: red;
}
.bac {
   background-color: orange;
}
.gradient-background {
   background-image: linear-gradient(to right, #6600FF, #FF0066);
   -webkit-background-clip: text;
   background-clip: text;
   color: transparent;
   display: inline-block;
}
.pading {
   margin-top: 50px;
}

.button-container {
   display: flex;
   justify-content: space-between;
   width: 250px;
}

.container1 {
   display: flex;
   align-items: center;
   height: 25vh;
   gap: 2rem;
   justify-content: center;
}
.grid-container {
   flex: 1;
   width: 300px;
   background-color: #ffccff;
   padding: 30px;
   border-radius: 5px;
   justify-items: center;
   margin-bottom: 20px  50px;
}

@media (max-width: 992px) {
   .container1 {
      flex-direction: column;
      height: 100%;
      width: 300px;
   }
}

.skill-container {
   display: flex;
   justify-content: center;
   position: relative;
  
   
}
.skills-font {
   font-size: 1.2rem;
   font-family: sans-serif;
   word-spacing: 5px;
   padding-top: 120px;
   padding-bottom: 50px;
   margin: 10px;
}
.icon {
   height: 40px;
}
.footer {
   margin-top: 30px;
}